.App {
  padding: 0;
  margin: 0;
  height: 100%;
}

.charCard{
  padding:0;
  padding-top: 10px;
}

.charCard button{
  border-radius: 0;
}

.charImg{
  margin:auto;
  width:100px;
  display:block;
}

.initList {
  margin:2.5rem;
}

.fa-arrow-circle-right, .fa-arrow-circle-left{
  color:#343a40;
}

.initList .jumbotron{
  width: 100%;
}

.current-card{
  border: 2px dashed #6c757d;
}

.char-list-container{
  height: 100%;
  background-color:#e9ecef;
  padding: 0;
}

.char-list-container img{
  width:50px;
}

.char-list-container .card{
  cursor: pointer;
}

#root{
  height: 100%;
}